@charset "UTF-8";

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Didact+Gothic&family=Marhey:wght@500&display=swap");

/* defaults */
html {
    box-sizing: border-box;
    font-size: 1em;
}
* {
    box-sizing: inherit;
}
body {
    font-family: "Didact Gothic", "Avant Garde", "Trebuchet MS", sans-serif;
    background-color: lightcyan;
    color: darkslategrey;
    margin: 0;
}

/* nav */
header {
    width: 100%;
}
nav ul {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    background-color: orange;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
nav ul li {
    display: block;
    margin: 0;
    padding: 0.5em;
    color: #28075a;
    height: 100%;
}
nav ul li.logo {
    flex-grow: 10;
    margin: 0;
    font-family: "Marhey", fantasy;
}
nav ul li img {
    height: 1em;
    margin-right: 5px;
}
nav ul li a {
    text-decoration: none;
    text-align: center;
}
nav ul li a.this {
    border-bottom: 2px dashed #28075a;
}
nav ul li a:link,
:visited {
    color: #28075a;
}
nav ul li:hover, nav ul li:active {
    background-color: #ffb937;
}

@media screen and (min-width: 800px) {
    nav ul {
        flex-flow: row wrap;
        justify-content: flex-end;
        text-align: left;
        align-items: baseline;
    }
    nav ul li {
        font-size: 1.5em;
        font-family: 'Balsamiq Sans';
    }
    nav ul li.logo {
        font-size: 2em;
    }
}

/* main */
main {
    margin: 1em;
}
main img {
    height: 30vw;
    width: auto;
}
main h1 {
    font-size: 10vw;
}
main a {
    text-decoration: none;
}
main a:link,
main a:visited {
    color: #28075a;
}
main a:hover,
main a:active {
    border-bottom: 1px dotted #28075a;
}

@media screen and (min-width: 400px) {
    main h1 {
        font-size: 2em;
    }
}
@media screen and (min-width: 768px) {
    main {
        width: 60vw;
        margin: auto;
    }
    main h1 {
        font-family: "Marhey", fantasy;
        text-align: center;
    }
    main p {
        font-size: 1.3em;
    }
    main img {
        height: 15vw;
    }
}

/* main buttons */
main .button {
    margin-top: 1em;
    padding: 0.5em;
    width: 8em;
    text-align: center;
    background-color: orange;
}
main .button a {
    text-decoration: none;
}
main .button a:link,
main .button a:visited {
    color: #28075a;
}
main .button:hover,
main .button:active {
    background-color: #ffb937;
}
main .begin {
    margin: auto;
}
main .prev {
    float: left;
}
main .next {
    float: right;
}

@media screen and (min-width: 800px) {
    main .button {
        font-family: 'Balsamiq Sans';
    }
    main .begin {
        font-size: 1.5em;
    }
}

/* tut specific */
section.tut p.narr {
    clear: both;
}
section.tut p.dial {
    quotes: '\201C' '\201D';
    width: 80%;
    margin: 0 2em;
    text-align: center;
}
section.tut p.dial::before {
    content: open-quote;
}
section.tut p.dial::after {
    content: close-quote;
}
section.tut img {
    margin: 1em 2em;
}
section.tut img:nth-of-type(odd) {
    float: left;
}
section.tut img:nth-of-type(even) {
    float: right;
    transform: scaleX(-1);
}
section.tut, main nav {
    clear: both;
    width: 100%;
}

/* ref specific */
aside {
    margin: 1em;
    padding: 1em;
    background-color: #ffb937;
    color: #28075a;
    border-radius: 17px;
}
aside li {
    display: block;
}
aside a {
    text-decoration: none;
    color: #28075a;
}
aside a:hover,
aside a:active {
    border-bottom: 1px dotted #28075a;
}

table {
    padding: 0.5em;
    width: 100%;
    background-color: #c0f3f3;
    border: 1px solid darkslategrey;
    border-collapse: collapse;
}
tr {
    border: 1px solid darkslategrey;
}
th {
    width: 25%;
    text-align: center;
}
th, td {
    padding: 5px;
}

@media screen and (min-width: 992px) {
    aside {
        float: left;
        position: sticky;
        top: 1em;
        left: 1em;
        width: 20vw;
    }
    main.ref {
        margin-left: 25vw;
    }
    main section {
        width: 60%;
    }
    main section:nth-child(odd) {
        float: right;
    }
    main section:nth-child(even) {
        float: left;
    }
}

/* footer */
footer {
    clear: both;
    width: 100%;
    text-align: center;
}
footer p {
    margin: 0.5em;
    padding: 0;
}
footer img {
    width: 1em;
    height: auto;
}
footer a {
    color: #28075a;
    text-decoration: none;
}
footer a:hover {
    border-bottom: 1px dotted #28075a;
}
